<?xml version="1.0"?>
<config>
    <modules>
        <Jumbobag_Catalog>
            <version>0.2.0</version>
        </Jumbobag_Catalog>
    </modules>
    <global>
        <resources>
            <jumbobag_catalog_attributes>
                <setup>
                    <module>Jumbobag_Catalog</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </jumbobag_catalog_attributes>
        </resources>

        <helpers>
            <jumbobag_catalog>
                <class>Jumbobag_Catalog_Helper</class>
            </jumbobag_catalog>
        </helpers>
        <blocks>
            <catalog>
                <rewrite>
                    <product_view_type_configurable>Jumbobag_Catalog_Block_Catalog_Product_View_Type_Configurable</product_view_type_configurable>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <cataloginventory>
                <rewrite>
                    <stock_item>Jumbobag_Catalog_Model_CatalogInventory_Stock_Item</stock_item>
                </rewrite>
            </cataloginventory>
        </models>
    </global>
</config>
