<?xml version="1.0"?>
<config>
    <modules>
        <Jumbobag_Ecotax>
            <version>0.1.0</version>
        </Jumbobag_Ecotax>
    </modules>
    <global>
        <resources>
            <jumbobag_ecotax_setup>
                <setup>
                    <module>Jumbobag_Ecotax</module>
                </setup>
            </jumbobag_ecotax_setup>
        </resources>
        <models>
            <jumbobag_ecotax>
                <class>Jumbobag_Ecotax_Model</class>
            </jumbobag_ecotax>
            <sales>
                <rewrite>
                    <order_pdf_invoice>Jumbobag_Ecotax_Model_Sales_Order_Pdf_Invoice</order_pdf_invoice>
                </rewrite>
            </sales>
            <emailattachments>
                <rewrite>
                    <order_pdf_order>Jumbobag_Ecotax_Model_EmailAttachments_Order_Pdf_Order</order_pdf_order>
                </rewrite>
            </emailattachments>
        </models>
        <helpers>
            <jumbobag_ecotax>
                <class>Jumbobag_Ecotax_Helper</class>
            </jumbobag_ecotax>
        </helpers>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <jumbobag_ecotax_checkout_cart_product_add_after>
                        <type>model</type>
                        <class>Jumbobag_Ecotax_Model_Observer</class>
                        <method>checkoutCartProductAddAfter</method>
                    </jumbobag_ecotax_checkout_cart_product_add_after>
                </observers>
            </checkout_cart_product_add_after>
        </events>
        <blocks>
            <jumbobag_ecotax>
                <class>Jumbobag_Ecotax_Block</class>
            </jumbobag_ecotax>
        </blocks>
        <sales>
            <quote>
                <totals>
                    <jumbobag_ecotax>
                        <class>jumbobag_ecotax/total_ecotax_quote</class>
                        <before>subtotal</before>
                    </jumbobag_ecotax>
                </totals>
            </quote>
        </sales>
        <pdf>
            <totals>
                <jumbobag_ecotax>
                    <title>dont éco-participation</title>
                    <sort_order>200</sort_order>
                    <model>jumbobag_ecotax/sales_pdf_ecotax</model>
                </jumbobag_ecotax>
            </totals>
            <order>
                <default>jumbobag_ecotax/sales_order_pdf_items_invoice_default</default>
                <grouped>sales/order_pdf_items_invoice_grouped</grouped>
            </order>
            <invoice>
                <default>jumbobag_ecotax/sales_order_pdf_items_invoice_default</default>
                <grouped>sales/order_pdf_items_invoice_grouped</grouped>
            </invoice>
        </pdf>
        <fieldsets>
            <sales_convert_quote_item>
                <ecotax>
                    <to_order_item>*</to_order_item>
                </ecotax>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <ecotax>
                    <to_quote_item>*</to_quote_item>
                    <to_invoice_item>*</to_invoice_item>
                </ecotax>
            </sales_convert_order_item>
        </fieldsets>
    </global>
    <frontend>
        <layout>
            <updates>
                <jumbobag_ecotax>
                    <file>jumbobag/ecotax.xml</file>
                </jumbobag_ecotax>
            </updates>
        </layout>
    </frontend>
</config>
