<?xml version="1.0"?>
<config>
    <modules>
        <Jumbobag_Ecotax>
            <version>0.1.0</version>
        </Jumbobag_Ecotax>
    </modules>
    <global>
        <resources>
            <jumbobag_ecotax_setup>
                <setup>
                    <module>Jumbobag_Ecotax</module>
                </setup>
            </jumbobag_ecotax_setup>
        </resources>
        <blocks>
            <jumbobag_ecotax>
                <class>Jumbobag_Ecotax_Block</class>
            </jumbobag_ecotax>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <jumbobag_ecotax>
                    <file>jumbobag/ecotax.xml</file>
                </jumbobag_ecotax>
            </updates>
        </layout>
    </frontend>
</config>
