.customer-account-index .col-main,
.customer-account-index .main {
	width: 100%;
	margin: 0 !important;
}

.customer-account-index .col-main {
	padding-top: 20px;
}

.customer-account-index .page-title {
	padding-bottom: 20px !important;
	margin-top: 0 !important;
}

.customer-account-index .dashboard .heading {
	font-size: 24px;
}

.customer-account-index .block-account {
	padding: 20px 10px !important;
	margin: 0 !important;
	width: auto;
}

.customer-account-index .block-account .block-title {
	border: none;
	margin-bottom: 0;
}

.customer-account-index .block-account .block-title strong {
	font-size: 16px;
	font-weight: 600;
	color: #1d4b99;
}

.customer-account-index .block-account .block-content,
.customer-account-index .block-account .block-content a {
	color: #1d4b99;
	font-size: 12px;
}

.customer-account-index .block-account .block-content .current,
.customer-account-index .block-account .block-content .current * {
	font-weight: bolder !important;
}

.customer-account-index .block-account {
	margin-right: 10px !important;
	box-shadow: none;
}

.customer-account-index .block-account li {
	background: none;
}

.customer-account-index .block-account li:before {
	content: "\25b8"; /* This char : ▸; */
	display: inline-block;
	margin-left: -1em;
	width: 1em;
	font-size: 1em;
}

.customer-account-index .hello {
	padding-top: 10px;
	font-size: 15px;
	padding-bottom: 10px;
}

.customer-account-index .welcome-msg {
	margin: 0 10px 0;
}

.customer-account-index .box-account {
	clear: both;
}

.customer-account-index .box-account .box-head {
	text-align: left;
}

.customer-account-index .box-account .box-head h2 {
	float: none;
	font-size: 20px;
	font-weight: lighter;
	opacity: 0.6;
	padding: 8px;
}

.customer-account-index .dashboard .box * h3, 
.customer-account-index .dashboard .box * h4 {
	letter-spacing: normal !important;
}

.customer-account-index .box-account * a {
    color: #1d4b99;
}

.customer-account-index .box-amazon-account {
	background-color: #e9e8e8;
	color: #666;
	border-radius: 8px;
}

.customer-account-index .box-amazon-account .box-head {
	display: none;
}

.customer-account-index .box-amazon-account .box {
	position: relative;
	padding-top: 15px;
}

.customer-account-index .box-amazon-account .box-content {
	margin-top: 60px;
	padding: 0 20px;
}

.customer-account-index .box-amazon-account .buttons {
	position: absolute;
	top: 20px;
	width: 100%;
	text-align: center;
	height: 50px;
	padding-top: 0px !important;
}

.customer-account-index .box-amazon-account .box .buttons .loginButtonWidget {
	float: none;
}

.customer-account-index .col-left.sidebar {
	display: none;
}

.customer-account-index .my-account .page-title {
	margin-left: 0 !important;
}

.customer-account-index .box-account {
	padding-top: 20px;
}

@media only screen and (max-width:1023px) {

	.customer-account-index #my-orders-table td {
		display: block;
		border: none;
	}

	.customer-account-index .col2-set .col-2 {
		margin-top: 10px;
	}

}

@media only screen and (min-width: 1024px) {
	.customer-account-index .col-main {
		padding-left: 200px;
	}

	.customer-account-index .my-account {
		padding: 0 5% 5% 200px;
	}

	.customer-account-index .my-account .page-title {
		text-align: left !important;
		padding-left: 40px;
	}

	.customer-account-index .navigationWrapper {
		position: absolute;
		left: 0;
		width: 200px;
	}

	.customer-account-index .block-account {
		float: right;
		padding-right: 25px !important;
	}

	.customer-account-index .box-amazon-account {
		margin-top: 50px;
	}
}