<?xml version="1.0"?>
<!--
/*
 * Created by:  Milan Simek
 * Company:     Plugin Company
 *
 * LICENSE: http://plugin.company/docs/magento-extensions/magento-extension-license-agreement
 *
 * YOU WILL ALSO FIND A PDF COPY OF THE LICENSE IN THE DOWNLOADED ZIP FILE
 *
 * FOR QUESTIONS AND SUPPORT
 * PLEASE DON'T HESITATE TO CONTACT US AT:
 *
 * SUPPORT@PLUGIN.COMPANY
 */
-->
<config>
    <modules>
        <Plugincompany_Storelocator>
            <version>1.8.1</version>
        </Plugincompany_Storelocator>
    </modules>
    <global>
        <resources>
            <plugincompany_storelocator_setup>
                <setup>
                    <module>Plugincompany_Storelocator</module>
                    <class>Plugincompany_Storelocator_Model_Resource_Setup</class>
                </setup>
            </plugincompany_storelocator_setup>
        </resources>
        <blocks>
            <plugincompany_storelocator>
                <class>Plugincompany_Storelocator_Block</class>
            </plugincompany_storelocator>
        </blocks>
        <helpers>
            <plugincompany_storelocator>
                <class>Plugincompany_Storelocator_Helper</class>
            </plugincompany_storelocator>
        </helpers>
        <models>
            <plugincompany_storelocator>
                <class>Plugincompany_Storelocator_Model</class>
                <resourceModel>plugincompany_storelocator_resource</resourceModel>
            </plugincompany_storelocator>
            <plugincompany_storelocator_resource>
                <class>Plugincompany_Storelocator_Model_Resource</class>
                <entities>
                    <storelocation>
                        <table>plugincompany_storelocator_storelocation</table>
                    </storelocation>
                    <storelocation_store>
                        <table>plugincompany_storelocator_storelocation_store</table>
                    </storelocation_store>
                    <storelocation_product>
                        <table>plugincompany_storelocator_storelocation_product</table>
                    </storelocation_product>
                    <storelocation_comment>
                        <table>plugincompany_storelocator_storelocation_comment</table>
                    </storelocation_comment>
                    <storelocation_comment_store>
                        <table>plugincompany_storelocator_storelocation_comment_store</table>
                    </storelocation_comment_store>
                    <storelocationeav>
                        <table>plugincompany_storelocator_storelocationeav</table>
                    </storelocationeav>
                    <eav_attribute>
                        <table>plugincompany_storelocator_eav_attribute</table>
                    </eav_attribute>
                </entities>
            </plugincompany_storelocator_resource>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <plugincompany_storelocator>
                        <class>Plugincompany_Storelocator_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </plugincompany_storelocator>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <plugincompany_storelocator>
                    <file>plugincompany_storelocator.xml</file>
                </plugincompany_storelocator>
            </updates>
        </layout>
        <translate>
            <modules>
                <Plugincompany_Storelocator>
                    <files>
                        <default>Plugincompany_Storelocator.csv</default>
                    </files>
                </Plugincompany_Storelocator>
            </modules>
        </translate>
        <events>
            <catalog_product_save_after>
                <observers>
                    <plugincompany_storelocator_save_product>
                        <type>singleton</type>
                        <class>plugincompany_storelocator/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </plugincompany_storelocator_save_product>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Plugincompany_Storelocator before="Mage_Adminhtml">Plugincompany_Storelocator_Adminhtml</Plugincompany_Storelocator>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <plugincompany_storelocator>
                <use>standard</use>
                <args>
                    <module>Plugincompany_Storelocator</module>
                    <frontName>plugincompany_storelocator</frontName>
                </args>
            </plugincompany_storelocator>
        </routers>
        <layout>
            <updates>
                <plugincompany_storelocator>
                    <file>plugincompany_storelocator.xml</file>
                </plugincompany_storelocator>
            </updates>
        </layout>
        <translate>
            <modules>
                <Plugincompany_Storelocator>
                    <files>
                        <default>Plugincompany_Storelocator.csv</default>
                    </files>
                </Plugincompany_Storelocator>
            </modules>
        </translate>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <plugincompany_storelocator>
                        <type>model</type>
                        <class>plugincompany_storelocator/observer</class>
                        <method>addStoreFinderLink</method>
                    </plugincompany_storelocator>
                </observers>
            </page_block_html_topmenu_gethtml_before>
            <controller_action_layout_load_before>
                <observers>
                    <add_storefinder_enabled_handle>
                        <class>plugincompany_storelocator/observer</class>
                        <method>addEnabledLayoutHandleIfApplicable</method>
                    </add_storefinder_enabled_handle>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
    <default>
        <plugincompany_storelocator>
            <storelocation>
                <enabled>1</enabled>
                <breadcrumbs>1</breadcrumbs>
                <url_prefix>stores</url_prefix>
                <url_suffix>.html</url_suffix>
            </storelocation>
            <cache>
                <lifetime>7200</lifetime>
            </cache>
            <storepage>
                <allow_guest_comment>0</allow_guest_comment>
                <allow_comment>1</allow_comment>
            </storepage>
            <storelist>
                <url_rewrite_list>stores</url_rewrite_list>
                <use_image_not_map>0</use_image_not_map>
                <limits>10,20,50,all</limits>
                <limit_default>20</limit_default>
            </storelist>
            <storefinder>
                <url_finder>store-finder</url_finder>
                <lengthunit>m</lengthunit>
                <findertitle>STORE LOCATOR</findertitle>
                <findertext>Please enter your address below to find our nearest store locations.</findertext>
                <meta_title>Store Finder</meta_title>
                <showfinderlink>0</showfinderlink>
                <finderlinktitle>Store Finder</finderlinktitle>
                <zoom>12</zoom>
                <storelimit>-1</storelimit>
                <originmarker>1</originmarker>
                <defaultloc>0</defaultloc>
                <radius_options>3,4,10,20,30,40,50,100,150,250,500</radius_options>
                <radius_default>250</radius_default>
            </storefinder>
            <libraries>
                <jquery>1</jquery>
                <fawesome>1</fawesome>
            </libraries>
        </plugincompany_storelocator>
    </default>
</config>
