<?xml version="1.0"?>
<config>
    <modules>
        <Innersense_3DViewer>
            <version>1.0.0</version>
        </Innersense_3DViewer>
    </modules>
    <global>
        <blocks>
            <innersense_3dviewer>
                <class>Innersense_3DViewer_Block</class>
            </innersense_3dviewer>
        </blocks>
        <helpers>
            <innersense_3dviewer>
                <class>Innersense_3DViewer_Helper</class>
            </innersense_3dviewer>
        </helpers>
        <resources>
            <innersense_3dviewer_setup>
                <setup>
                    <module>Innersense_3DViewer</module>
                </setup>
            </innersense_3dviewer_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <innersense_3dviewer>
                    <file>innersense/3dviewer.xml</file>
                </innersense_3dviewer>
            </updates>
        </layout>
        <translate>
            <modules>
                <Innersense_3DViewer>
                    <files>
                        <default>Innersense_3DViewer.csv</default>
                    </files>
                </Innersense_3DViewer>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Innersense_3DViewer>
                    <files>
                        <viewer3d>Innersense_3DViewer.csv</viewer3d>
                    </files>
                </Innersense_3DViewer>
            </modules>
        </translate>
    </adminhtml>
</config>
