<?xml version="1.0"?>
<config>

    <modules>
        <Blackbird_Monetico>
            <version>1.0.7</version>
        </Blackbird_Monetico>
    </modules>



    <global>
        <models>
            <blackbird_monetico>
                <class>Blackbird_Monetico_Model</class>
                <resourceModel>blackbird_monetico_mysql4</resourceModel>
            </blackbird_monetico>
            <blackbird_monetico_mysql4>
                <class>Blackbird_Monetico_Model_Mysql4</class>
                <entities>
                    <api_debug>
                        <table>blackbird_monetico_debug</table>
                    </api_debug>
                </entities>
            </blackbird_monetico_mysql4>
        </models>

        <blocks>
            <blackbird_monetico>
                <class>Blackbird_Monetico_Block</class>
            </blackbird_monetico>
        </blocks>

        <helpers>
            <blackbird_monetico>
                <class>Blackbird_Monetico_Helper</class>
            </blackbird_monetico>
        </helpers>

        <resources>
            <blackbird_monetico_setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blackbird_monetico_setup>
            <blackbird_monetico_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blackbird_monetico_write>
            <blackbird_monetico_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blackbird_monetico_read>
        </resources>

        <payment>
            <monetico_payment>
                <languages>
                    <FR>
                        <code>FR</code>
                        <name>Français</name>
                    </FR>
                    <EN>
                        <code>EN</code>
                        <name>Anglais</name>
                    </EN>
                    <ES>
                        <code>ES</code>
                        <name>Espagnol</name>
                    </ES>
                    <DE>
                        <code>DE</code>
                        <name>Allemand</name>
                    </DE>
                    <IT>
                        <code>IT</code>
                        <name>Italien</name>
                    </IT>
                    <NL>
                        <code>NL</code>
                        <name>Néerlandais</name>
                    </NL>
                </languages>
            </monetico_payment>
        </payment>
    </global>



    <frontend>
        <secure_url>
            <monetico_payment>/monetico/payment</monetico_payment>
        </secure_url>

        <routers>
            <blackbird_monetico>
                <use>standard</use>
                <args>
                    <module>Blackbird_Monetico</module>
                    <frontName>monetico</frontName>
                </args>
            </blackbird_monetico>
        </routers>

        <translate>
            <modules>
                <Blackbird_Monetico>
                    <files>
                        <default>Blackbird_Monetico.csv</default>
                    </files>
                </Blackbird_Monetico>
            </modules>
        </translate>

        <layout>
            <updates>
                <blackbird_monetico>
                    <file>monetico.xml</file>
                </blackbird_monetico>
            </updates>
        </layout>

        <events>
            <checkout_controller_multishipping_shipping_post>
                <observers>
                    <blackbird_monetico>
                        <type>model</type>
                        <class>blackbird_monetico/observer</class>
                        <method>initRedirect</method>
                    </blackbird_monetico>
                </observers>
            </checkout_controller_multishipping_shipping_post>
            <sales_order_place_after>
                <observers>
                    <blackbird_monetico>
                        <type>model</type>
                        <class>blackbird_monetico/observer</class>
                        <method>disableEmailForMultishipping</method>
                    </blackbird_monetico>
                </observers>
            </sales_order_place_after>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <blackbird_monetico>
                        <type>model</type>
                        <class>blackbird_monetico/observer</class>
                        <method>multishippingRedirectUrl</method>
                    </blackbird_monetico>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
    </frontend>



    <adminhtml>
        <translate>
            <modules>
                <Blackbird_Monetico>
                    <files>
                        <default>Blackbird_Monetico.csv</default>
                    </files>
                </Blackbird_Monetico>
            </modules>
        </translate>

        <layout>
            <updates>
                <blackbird_monetico>
                    <file>monetico.xml</file>
                </blackbird_monetico>
            </updates>
        </layout>
    </adminhtml>



    <default>
        <payment>
            <monetico_payment>
                <title>Monetico-Payment</title>
                <allowspecific>0</allowspecific>
                <transaction_type>O</transaction_type>
                <empty_cart>1</empty_cart>
            </monetico_payment>

            <monetico_onetime>
                <active>0</active>
                <title>Monetico One-time Payment Method</title>
                <version>3.0</version>
                <environment>sandbox</environment>
                <order_status>pending</order_status>
                <order_status_payment_accepted>processing</order_status_payment_accepted>
                <order_status_payment_refused>holded</order_status_payment_refused>
                <order_status_payment_canceled>canceled</order_status_payment_canceled>
                <create_invoice>1</create_invoice>
                <allowspecific>0</allowspecific>
                <verify_3dsecure>1</verify_3dsecure>
                <use_iframe>0</use_iframe>
                <locale>EN</locale>
                <transaction_description>Payment from %code_societe% through Monetico %payment_method% for the Order %order_id%</transaction_description>
                <allow_options>1</allow_options>
                <group>monetico</group>
                <model>Blackbird_Monetico_Model_Method_Onetime</model>
            </monetico_onetime>

            <monetico_multitime>
                <active>0</active>
                <amount_min>100</amount_min>
                <amount_max>1000</amount_max>
                <title>Monetico Multi-time Payment Method</title>
                <version>3.0</version>
                <environment>sandbox</environment>
                <order_status>pending</order_status>
                <order_status_payment_accepted>processing</order_status_payment_accepted>
                <order_status_payment_refused>holded</order_status_payment_refused>
                <order_status_payment_canceled>canceled</order_status_payment_canceled>
                <create_invoice>1</create_invoice>
                <number_terms>3</number_terms>
                <term_rate_1>34</term_rate_1>
                <term_rate_2>33</term_rate_2>
                <term_rate_3>33</term_rate_3>
                <allowspecific>0</allowspecific>
                <verify_3dsecure>1</verify_3dsecure>
                <use_iframe>0</use_iframe>
                <locale>EN</locale>
                <transaction_description>Payment from %code_societe% through Monetico %payment_method% for the Order %order_id%</transaction_description>
                <allow_options>1</allow_options>
                <disabled_options>1euro,3xcb,4xcb,paypal</disabled_options>
                <group>monetico</group>
                <model>Blackbird_Monetico_Model_Method_Multitime</model>
            </monetico_multitime>

            <monetico_3xcb>
                <active>0</active>
                <amount_min>200</amount_min>
                <amount_max>1000</amount_max>
                <title>Monetico Cofidis 3xCB</title>
                <group>monetico</group>
                <model>Blackbird_Monetico_Model_Method_CofidisTxcb</model>
            </monetico_3xcb>

            <monetico_4xcb>
                <active>0</active>
                <amount_min>200</amount_min>
                <amount_max>1000</amount_max>
                <title>Monetico Cofidis 4xCB</title>
                <group>monetico</group>
                <model>Blackbird_Monetico_Model_Method_CofidisFxcb</model>
            </monetico_4xcb>

            <monetico_paypal>
                <active>0</active>
                <amount_min>200</amount_min>
                <amount_max>1000</amount_max>
                <title>Monetico Cofidis 3xCB</title>
                <group>monetico</group>
                <model>Blackbird_Monetico_Model_Method_Paypal</model>
            </monetico_paypal>
        </payment>
    </default>

    <crontab>
        <jobs>
            <monetico_cron_cancel_order>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run><model>blackbird_monetico/cron::execute</model></run>
            </monetico_cron_cancel_order>
        </jobs>
    </crontab>
</config>