.configurable-swatch-list > li {
	position: relative;
	bottom: 0; /* if not declare initial bottom, transition not working */
	margin: 0 10px 10px 0;
	transition: all 0.2s;
}
.configurable-swatch-list > li.selected,
.configurable-swatch-list > li:hover{
	bottom: 8px;
}

.product-gallery-item {
	float: left;
	margin: 10px 5px;
}
.product-gallery-item-img {
	max-height: 100px;
}

@media only screen and (max-width:768px) {
	.product-gallery {
		display: none;
	}
}
