.blueTable {
	border-collapse:separate; 
	border-spacing:0 8px;
}

.blueTable__row {
	margin: 5px;
	background: #f6f6f6;
	border-radius: 6px;
	padding: 5px 10px;
}


.blueTable__row th {
	font-weight: bold;
	text-align: center;
}

.blueTable__row th:first-of-type {
	padding-left: 30px;
}

.blueTable__row th:last-of-type {
	padding-right: 30px;
}

.blueTable__row td {
	padding: 10px;
}

.blueTable__row th, .blueTable__row td {
	vertical-align: middle;
	padding-top: 15px;
	padding-bottom: 15px;
}
