.form {
	display: block; /* forcé à inline par defaut */
	font-family: lato;
}
.form * {
	box-sizing: border-box;
}

.form__row {
	margin-bottom: 20px;
	text-align: left;
}

.form__group {
	margin-top: 20px;
	text-align: left;
}
.form__group:first-child {
	margin-top: 0;
}
.form__row .form__group {
	display: inline-block;
	margin: 0 5px;
}

.form__group label {
	display: block;
	margin-bottom: 5px;
	padding-left: 5px;
	color: #30409f;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}

.form__group--noUppercase label {
	text-transform: inherit;
}

.form__group--smaller label {
	font-size: 13px;
}

.form__group input, .form__group select {
	height: auto;
	line-height: 30px;
	padding: 4px 10px;
	width: 100%;
	background-color: #e9e8e8;
	border: none;
	border-radius: 8px;
	font-family: inherit;
	font-size: 15px;
}

.form__group--smaller input,
.form__group--smaller select {
	font-size: 13px;
	line-height: 18px;
}

.form__group select {
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.form__group select::-ms-expand {
    display: none;
}

.form__group label.required em {
    float: none;
    font-style: normal;
    color: inherit;
    position: static;
}

.form__submit {
	margin: 20px 0;
}

.form__extra {
	color: #999999;
	font-weight: 600;
}

/* Mobile */
@media only screen and (max-width: 767px) {
	.form__row .form__group {
		display: block;
		margin: 0;
	}
}
