.rowContainer {
	box-sizing: border-box;
	margin-bottom: 40px;
}
.rowContainer .col {
	box-sizing: border-box;
	display: block;
	float: none; /* hérité de l'espace ;) */
	vertical-align: top;
}

.rowContainer--col2 .col {
	width: 46%;
	margin: 0 2%;
	display: inline-block;
}

@media only screen and (max-width: 767px) {
	.rowContainer {
		margin-bottom: 0;
	}
	.rowContainer .col {
		min-height: auto;
		width: 100%;
		margin: 0;
		border-radius: 0;
	}
}
