.customer-account-login .col {
	min-height: 400px;
}

.login__forgotPsw {
	display: block;
	margin-top: 10px;
	color: #30409f;
	font-size: 14px;
	font-weight: 600;
}

.customer-account-login .amazonLogin__button {
	margin-top: 20px;
}

/* Tablet */	
@media only screen and (max-width: 959px) and (min-width: 768px) {
	.customer-account-login .col1-layout .col-main {
		width: auto;
		margin: 0 5px;
	}
}

/* Mobile */
@media only screen and (max-width: 767px) {
	.customer-account-login .row {
		width: auto;
	}
	.customer-account-login .col1-layout .col-main {
		width: auto;
		margin: 0;
		padding: 0;
	}
}
