.well {
	margin: auto;
	margin-bottom: 10px;
	padding: 10px 30px;
	width: 50%;
	border-radius: 10px;
	background-color: #f6f6f6;
	font-family: lato;
}
.well--gray {
	background-color: #e9e8e8;
}
.well * {
	box-sizing: border-box;
}

.well__header {
	text-align: center;
	z-index: 0; /* z-index fixé à 10020 sur toutes les balise header WTF !!! */
	box-shadow: none; /* box-shadow fixé sur toutes les balise header */
}
.well__header__title {
	line-height: 80px;
}

.well__body {
	text-align: center;
}
