<?xml version="1.0"?>
<config>
    <modules>
        <Slimpay_Gateway>
            <version>1.0.0</version>
        </Slimpay_Gateway>
    </modules>
        <frontend>
            <routers>
                <gateway>
                    <use>standard</use>
                    <args>
                        <module>Slimpay_Gateway</module>
                        <frontName>gateway</frontName>
                    </args>
                </gateway>
            </routers>
            <layout>
                <updates>
                    <gateway_layout module="Slimpay_Gateway">
                        <file>gateway.xml</file>
                    </gateway_layout>
                </updates>
            </layout>
        </frontend>
    <global>
		<resources>
			<gateway_setup>
				<setup>
					<module>Slimpay_Gateway</module>
					<class>Slimpay_Gateway_Model_Resource_Mysql4_Setup</class>
				</setup>
			</gateway_setup>
		</resources>
        <models>
            <gateway>
                <class>Slimpay_Gateway_Model</class>
                <resourceModel>gateway_resource</resourceModel>
            </gateway>
            <gateway_resource>
                <class>Slimpay_Gateway_Model_Resource</class>
                <entities>
                    <mandates> <!-- define an new  entities for module -->
                        <table>slimpay_mandates</table> <!-- define table -->
                    </mandates>
                </entities>
                <entities>
                    <orders>
                        <table>slimpay_orders</table>
                    </orders>
                </entities>
            </gateway_resource>
        </models>
		<helpers>
            <gateway>
                <class>Slimpay_Gateway_Helper</class>
            </gateway>
        </helpers>
		<blocks>
			<gateway>
				<class>Slimpay_Gateway_Block_Settings</class>
			</gateway>
		</blocks>
		<events>
            <checkout_submit_all_after>
                <observers>
                    <slimpay_gateway_model_observer>
                        <type>singleton</type>
                        <class>Slimpay_Gateway_Model_Observer</class>
                        <method>updateOrderStatus</method>
                    </slimpay_gateway_model_observer>
                </observers>
            </checkout_submit_all_after>
		</events>
    </global>
    <default>
        <payment>
            <gateway>
                <active>1</active>
                <model>gateway/paymentMethod</model>
                <allowspecific>0</allowspecific>
                <title>Gateway</title>
            </gateway>
         </payment>
    </default>
</config>
